{% extends 'basic/base.html' %}
{% load static %}
{% block content %}
   
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2> {{category.category.name}}</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar pr-2 border-right">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                            {% for i in topItems %}
                                <li><a href="{% url 'item' i.id %}">{{i.name}}</a></li>
                            {% endfor %}    
                            </ul>
                        </div>
                        <form method='POST' action=""> {% csrf_token %}
                            <div class="sidebar__item ">
                                <h4>Price</h4>
                                <div class="price-range-wrap">
                                    <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                        data-min="10" data-max="540">
                                        <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    </div>
                                    <div class="range-slider">
                                        <div class="price-input">
                                            <input type="text" name='minAmount' id="minamount">
                                            <input type="text" name="maxAmount" id="maxamount">
                                        </div>
                                    </div>
                                </div>
                         
                                <div class='price-range-wrap'>
                                    <input type='submit' class='btn btn-sm btn-primary mt-4'/>
                                </div>
                            </div>
                        </form>
                       
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    
                    
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sale Off</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel p-2 border" style=" border-radius:15px 15px; background-color:#EAEAEA; ">
                               {% for i  in items %}
                                <div class="col-lg-4">
                                    <div class="product__discount__item " >
                                        <div class="product__discount__item__pic set-bg border"
                                            data-setbg="{% static 'img/product/discount/pd-1.jpg' %}" style=" ">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                
                                                {% if user.is_authenticated %}
                                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                {% else %}
                                                    <li><a href="#"><i class="fa fa-user"><small>Login</small></i></a></li>
                                                {% endif %}
                                                
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>{{i.category.name}}</span>
                                            <h5><a href="{% url 'item' i.id %}">{{i.name}}</a></h5>
                                            <div class="product__item__price">₹{{i.price}}/- </div>
                                        </div>
                                    </div>
                                </div>
                               {% endfor %}
                            </div>
                        </div>
                    </div>
                   <hr>
                    <div class='row mb-3 '>
                        <div class='col-sm-6'>
                            <div class="hero__search__form">
                                <form action="#">
                                    
                                    <input type="text" placeholder="What do yo u need in {{category.category.name}}?">
                                    <button type="submit" class="site-btn">SEARCH</button>
                                </form>
                            </div>
                        </div>
                        <div class='col-sm-5 d-flex justify-content-end'>
                            <div class="filter__found">
                                    <h6><span>16</span> Products found</h6>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        {% for i in itemsByRating %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{% static 'img/product/product-1.jpg' %}">
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6><a href="#">Crab Pool Security</a></h6>
                                        <h5>{{i.price}}$</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Footer Section Begin -->
  {% endblock content%}